/autom4te.cache/
/config/
Makefile
app.info
config.h
config.log
config.status
configure.scan
coverage_report
depcomp
libtool
m4
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
src/bin/isthirteen-test
src/lib/.libs/
src/bin/.libs/
